In [0]:
spark

----------- Create Dataframes and Tables

In [0]:
# create first data frame..
data1=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(14 ,'Priya',80000,  18),
(16 ,'Rajesh',90000, 10),
(16 ,'Rajesh',90000, 10)]
schema1 = ['id', 'name', 'salary', 'mngr_id']
df1 = spark.createDataFrame(data1, schema1)
df1.show()

# create second data frame...
data2=[(18 ,'Sam',65000, 17),
(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17)]
schema2 = ['id', 'name', 'salary', 'mngr_id']  
df2 = spark.createDataFrame(data2, schema2)
df2.show()


# create fouth data frame with suffled column name..
data3=[(18 ,65000, 'Sam', 17),
(19 ,50000, 'Sohan', 18),
(20 ,75000,'Sima', 17)]
schema3 = ['id', 'salary', 'name', 'mngr_id']   # name and salary columns have shuffled
df3 = spark.createDataFrame(data3, schema3)
df3.show()


# create third data frame with different column name..
data4=[(18 ,'Sam',65000, 17),
(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17)]
schema4 = ['id', 'nam', 'salary', 'mngr_id']    # name field have different name 'nam'
df4 = spark.createDataFrame(data4, schema4)
df4.show()
df4.printSchema()


# transform dataframe into tables for spark SQL..
df1.createOrReplaceTempView('df1_tbl')
df2.createOrReplaceTempView('df2_tbl')
df3.createOrReplaceTempView('df3_tbl')
df4.createOrReplaceTempView('df4_tbl')

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 16|Rajesh| 90000|     10|
+---+------+------+-------+

+---+-----+------+-------+
| id| name|salary|mngr_id|
+---+-----+------+-------+
| 18|  Sam| 65000|     17|
| 19|Sohan| 50000|     18|
| 20| Sima| 75000|     17|
+---+-----+------+-------+

+---+------+-----+-------+
| id|salary| name|mngr_id|
+---+------+-----+-------+
| 18| 65000|  Sam|     17|
| 19| 50000|Sohan|     18|
| 20| 75000| Sima|     17|
+---+------+-----+-------+

+---+-----+------+-------+
| id|  nam|salary|mngr_id|
+---+-----+------+-------+
| 18|  Sam| 65000|     17|
| 19|Sohan| 50000|     18|
| 20| Sima| 75000|     17|
+---+-----+------+-------+

root
 |-- id: long (nullable = true)
 |-- nam: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- mngr_id: long (nullable = true)

----------------- Union and UnionAll Transformation In Spark Dataframe and Spark SQL

In [0]:
# union and union all operation which return similar result in spark data frame... 
# union..
df1.union(df2).show()
print("union count in df is :", df1.union(df2).count())
# unionAll counts..
df1.unionAll(df2).show()
print("unionAll count in df is :", df1.unionAll(df2).count())

# union and union all operation which return different result in spark sql... 
spark.sql("""
          select * from df1_tbl 
          union
          select * from df2_tbl
          """).show()
spark.sql("""
          select * from df1_tbl 
          union all
          select * from df2_tbl
          """).show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 16|Rajesh| 90000|     10|
| 18|   Sam| 65000|     17|
| 19| Sohan| 50000|     18|
| 20|  Sima| 75000|     17|
+---+------+------+-------+

union count in df is : 11
+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 16|Rajesh| 90000|     10|
| 18|   Sam| 65000|     17|
| 19| Sohan| 50000|     18|
| 20|  Sima| 75000|     17|
+---+------+------+-------+

unionAll count in df is : 11
+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 18|   Sam| 65000|     17|
| 19| Sohan| 50000|     18|
| 20|  Sima| 75000|     17|
+---+------+------+-------+

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 16|Rajesh| 90000|     10|
| 18|   Sam| 65000|     17|
| 19| Sohan| 50000|     18|
| 20|  Sima| 75000|     17|
+---+------+------+-------+

----------- Union With Suffle (Unpossitioned ) Column Name Data Frame

In [0]:
# union with un-positioned column in third data frames..
df1.union(df3).show()

# unionByName with un-positioned or suffled column in third data frame..
df1.unionByName(df3).show()


# union with extra column name in second data frame..
from pyspark.sql.functions import *
df2 = df2.withColumn('bonus', lit('10'))
df2.show()
df1.union(df2).show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 16|Rajesh| 90000|     10|
| 18| 65000|   Sam|     17|
| 19| 50000| Sohan|     18|
| 20| 75000|  Sima|     17|
+---+------+------+-------+

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 16|Rajesh| 90000|     10|
| 18|   Sam| 65000|     17|
| 19| Sohan| 50000|     18|
| 20|  Sima| 75000|     17|
+---+------+------+-------+

+---+-----+------+-------+-----+
| id| name|salary|mngr_id|bonus|
+---+-----+------+-------+-----+
| 18|  Sam| 65000|     17|   10|
| 19|Sohan| 50000|     18|   10|
| 20| Sima| 75000|     17|   10|
+---+-----+------+-------+-----+

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3298101983989097>:12
     10 df2 = df2.withColumn('bonus', lit('10'))
     11 df2.show()
---> 12 df1.union(df2).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3646, in DataFrame.union(self, other)
   3598 def union(self, other: "DataFrame") -> "DataFrame":
   3599     """Return a new :class:`DataFrame` containing union of rows in this and another
   3600     :class:`DataFrame`.
   3601
   (...)
   3644     +----+----+----+
   3645     """
-> 3646     return DataFrame(self._jdf.union(other._jdf), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 4 columns and the second input has 5 columns.;
'Union false, false
:- LogicalRDD [id#2L, name#3, salary#4L, mngr_id#5L], false
+- Project [id#27L, name#28, salary#29L, mngr_id#30L, 10 AS bonus#300]
   +- LogicalRDD [id#27L, name#28, salary#29L, mngr_id#30L], false

------------ Union With Different Column Name And DataType

In [0]:
# union with different column name in both data frame..
df1.union(df4).show()

# The union() can be performed on the DataFrames that have the same schema and structure. If the schemas are different we may need to use unionByName() or make changes to the DataFrames to align to their schemas before performing union() transformation.
# unionByName with different column name in both data frame..
df1.unionByName(df4).show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 16|Rajesh| 90000|     10|
| 18|   Sam| 65000|     17|
| 19| Sohan| 50000|     18|
| 20|  Sima| 75000|     17|
+---+------+------+-------+

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-3298101983989100>:6
      1 # union with different column name in both data frame..
      2 #df1.union(df4).show()
      3
      4 # The union() can be performed on the DataFrames that have the same schema and structure. If the schemas are different we may need to use unionByName() or make changes to the DataFrames to align to their schemas before performing union() transformation.
      5 # unionByName with different column name in both data frame..
----> 6 df1.unionByName(df4).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3738, in DataFrame.unionByName(self, other, allowMissingColumns)
   3682 def unionByName(self, other: "DataFrame", allowMissingColumns: bool = False) -> "DataFrame":
   3683     """Returns a new :class:`DataFrame` containing union of rows in this and another
   3684     :class:`DataFrame`.
   3685
   (...)
   3736     +----+----+----+----+
   3737     """
-> 3738     return DataFrame(self._jdf.unionByName(other._jdf, allowMissingColumns), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Cannot resolve column name "name" among (id, nam, salary, mngr_id).