In [0]:
spark

------------- Create DataFrame

In [0]:
data=[(10 ,'Anil',50000, 18),
    (11 ,'Vikas',75000,  16),
    (12 ,'Nisha',40000,  18),
    (13 ,'Nidhi',60000,  17),
    (14 ,'Priya',80000,  18),   
    (15 ,'Mohit',45000,  18),
    (16 ,'Rajesh',90000, 10),
    (17 ,'Raman',55000, 16),
    (18 ,'Sam',65000,   17),
    (15 ,'Mohit',45000,  18),
    (13 ,'Nidhi',60000,  17),      
    (14 ,'Priya',90000,  18),  
    (18 ,'Sam',65000,   17)
]
schema = ['id', 'name', 'salary', 'mngr_id']
df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 11| Vikas| 75000|     16|
| 12| Nisha| 40000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 80000|     18|
| 15| Mohit| 45000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 15| Mohit| 45000|     18|
| 13| Nidhi| 60000|     17|
| 14| Priya| 90000|     18|
| 18|   Sam| 65000|     17|
+---+------+------+-------+

---------------- Find Unique Records

In [0]:
# find distinct record on all column of data frame
df.distinct().show()
cnt = df.distinct().count()
print("count with all column : ", cnt)

# find unique record on some columns
df.select('id', 'name').distinct().show()
cnt = df.select('id', 'name').distinct().count()
print("count with some columns : ", cnt)

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 12| Nisha| 40000|     18|
| 11| Vikas| 75000|     16|
| 13| Nidhi| 60000|     17|
| 15| Mohit| 45000|     18|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 14| Priya| 90000|     18|
+---+------+------+-------+

count with all column :  10
+---+------+
| id|  name|
+---+------+
| 10|  Anil|
| 11| Vikas|
| 12| Nisha|
| 13| Nidhi|
| 15| Mohit|
| 14| Priya|
| 17| Raman|
| 16|Rajesh|
| 18|   Sam|
+---+------+

count with some columns :  9

---------------- Drop The Duplicates Records

In [0]:
# drop the duplicate records from data frame
df1 = df.drop_duplicates(['id', 'name', 'salary', 'mngr_id'])
df1.show()
df1.count()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 10|  Anil| 50000|     18|
| 12| Nisha| 40000|     18|
| 11| Vikas| 75000|     16|
| 13| Nidhi| 60000|     17|
| 15| Mohit| 45000|     18|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 17| Raman| 55000|     16|
| 18|   Sam| 65000|     17|
| 14| Priya| 90000|     18|
+---+------+------+-------+

Out[24]: 10

------------------ Sort The Record In Asc/Desc Order

In [0]:
from pyspark.sql.functions import *

# sort in ascending order
df1.sort("salary").show()

# sort in descending order
df1.sort(col("salary").desc()).show()

# sort with multiple column
df1.sort(col("salary").desc(), col("name").asc()).show()

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 12| Nisha| 40000|     18|
| 15| Mohit| 45000|     18|
| 10|  Anil| 50000|     18|
| 17| Raman| 55000|     16|
| 13| Nidhi| 60000|     17|
| 18|   Sam| 65000|     17|
| 11| Vikas| 75000|     16|
| 14| Priya| 80000|     18|
| 16|Rajesh| 90000|     10|
| 14| Priya| 90000|     18|
+---+------+------+-------+

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 16|Rajesh| 90000|     10|
| 14| Priya| 90000|     18|
| 14| Priya| 80000|     18|
| 11| Vikas| 75000|     16|
| 18|   Sam| 65000|     17|
| 13| Nidhi| 60000|     17|
| 17| Raman| 55000|     16|
| 10|  Anil| 50000|     18|
| 15| Mohit| 45000|     18|
| 12| Nisha| 40000|     18|
+---+------+------+-------+

+---+------+------+-------+
| id|  name|salary|mngr_id|
+---+------+------+-------+
| 14| Priya| 90000|     18|
| 16|Rajesh| 90000|     10|
| 14| Priya| 80000|     18|
| 11| Vikas| 75000|     16|
| 18|   Sam| 65000|     17|
| 13| Nidhi| 60000|     17|
| 17| Raman| 55000|     16|
| 10|  Anil| 50000|     18|
| 15| Mohit| 45000|     18|
| 12| Nisha| 40000|     18|
+---+------+------+-------+

--- leetcode question

In [0]:
# report the all customer who is not refered by 2..
# create df..
leet_code_data = [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
]
df2 = spark.createDataFrame(leet_code_data, ['id', 'name', 'refer_id'])
df2.show()

# we can solve by using filter
df2.filter((col("refer_id").isNull()) | (col("refer_id") != 2)).show()

+---+----+--------+
| id|name|refer_id|
+---+----+--------+
|  1|Will|    null|
|  2|Jane|    null|
|  3|Alex|       2|
|  4|Bill|    null|
|  5|Zack|       1|
|  6|Mark|       2|
+---+----+--------+

+---+----+--------+
| id|name|refer_id|
+---+----+--------+
|  1|Will|    null|
|  2|Jane|    null|
|  4|Bill|    null|
|  5|Zack|       1|
+---+----+--------+